// Colors
$pink: #FB397D;
$light-gray: #EFF2F6;
$dark: #47425D;
$text-color: #726A84;
$purple: #5B32B4;

// Gradients
$purple-gradient: linear-gradient(127.23deg, #812ACF 3.68%, #8162E9 77.66%);
$second-gradient: linear-gradient(70.36deg, #581EB7 -23.4%, #8160E8 90.51%);